# Import packages and setup

In [1]:
%matplotlib inline
import os
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

# Clinical Data

In [3]:
clinical_all = pd.read_csv("/lustre/scratch126/opentargets/opentargets/OTAR2064/working/slemap/phenotype/combined_data_tidied_sc_used_25_11_24.csv")

In [4]:
clinical_all.head()

,Patient_ID,externalID,Sample_ID,Site,Recruit_centre,Date_of_consent,Sample_date,Sample_year,Year_of_Birth,Age_at_sampling,...,KBX_3,KBX_3_LN_Class,KBX_4,KBX_4_LN_Class,KBX_5,KBX_5_LN_Class,KBX_6,KBX_6_LN_Class,KBX_7,KBX_7_LN_Class
0,EQTL009P,EQTL009P,NaN,Guys,Kings,27/10/2020,27/10/2020,2020,1978,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EQTL041P,EQTL041P,NaN,Guys,Kings,18/05/2021,18/05/2021,2021,1984,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EQTL073P,EQTL073P,NaN,Guys,Kings,09/11/2021,09/11/2021,2021,1990,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EQTL0119P,EQTL119P,NaN,Guys,Kings,15/11/2022,15/11/2022,2022,1988,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EQTL0138P,EQTL138P,NaN,Guys,Kings,08/02/2023,08/02/2023,2023,1976,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Load metadata to get sample names

In [19]:
metadata = pd.read_csv("/lustre/scratch126/opentargets/opentargets/OTAR2064/working/slemap/metadata/SLEmap_metadata_191224.csv")

In [25]:
metadata["experiment_id_yascp"] = metadata.experiment_id.str.replace("_L", "-L")

# PCA for all cells

In [37]:
PCA_all = pd.read_csv("/lustre/scratch126/opentargets/opentargets/OTAR2064/working/users/hj10/Results/2_YASCP_final/5_QC_afterHLA_afterClusterremoval/PCA_level0_n281_withvdj.csv")

In [38]:
len(PCA_all)

281

In [39]:
PCA_all = PCA_all.rename({"Unnamed: 0":"Sample"}, axis = 1)

# Add info

In [40]:
PCA_all = pd.merge(metadata[["experiment_id_yascp", "externalID"]], PCA_all, right_on = "Sample", left_on = "experiment_id_yascp")

In [42]:
PCA_all = pd.merge(PCA_all, clinical_all)

In [43]:
PCA_all.head()

,experiment_id_yascp,externalID,Sample,Dim.1,Dim.2,Dim.3,Dim.4,Dim.5,Dim.6,Dim.7,...,KBX_3,KBX_3_LN_Class,KBX_4,KBX_4_LN_Class,KBX_5,KBX_5_LN_Class,KBX_6,KBX_6_LN_Class,KBX_7,KBX_7_LN_Class
0,SLE_WGS13446475-LDP01,EQTL083P,SLE_WGS13446475-LDP01,-46.984341,35.704336,27.577284,-7.713813,-11.171428,-8.203419,1.683006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SLE_WGS13446476-LDP01,L11,SLE_WGS13446476-LDP01,-35.944730,-10.960558,-6.600958,2.735963,-7.900828,6.912979,8.066420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SLE_WGS13446477-LDP01,L150,SLE_WGS13446477-LDP01,-21.553533,9.541539,-13.003174,-11.625857,-13.180244,1.360440,-7.065717,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SLE_map14783129-LDP01,L219,SLE_map14783129-LDP01,-27.107868,29.243382,-27.911041,-2.567004,-8.301870,5.076988,2.681915,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SLE_WGS13446479-LDP02,EQTL058P,SLE_WGS13446479-LDP02,-49.943302,-0.453792,24.133160,0.747596,-2.607940,-1.759459,24.643373,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN